/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Form errors*/

input.ng-invalid.ng-touched{
   border: 1px red solid;
}

input.ng-valid{
   border:1px green solid;
}

.error{
   font-size: 12px;
   color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
