<div class="font-poppins">
   <div *ngIf="createdSlots!==undefined && createdSlots.length > 0">
      <h1><span class="font-bold  pl-20">Created Slots</span></h1>
   </div>
   <div class="h-52 overflow-y-scroll" *ngIf="createdSlots!==undefined && createdSlots.length > 0">
      <div *ngIf="createdSlots">
         <div *ngFor="let slot of createdSlots">
            <div Bookedslots [SlotStatus]="slot.is_booked"
               class="w-full font-bold max-w-sm mx-auto rounded overflow-hidden px-4 py-3 shadow-lg bg-green-200 flex justify-between mb-2">
               <div class="flex justify-center items-center px-5">
                  <p style="margin: 0;">{{slot.time}}</p>
               </div>
               <div class="flex justify-center">
                  <ng-container *ngIf="!slot.is_booked;else bookedslots">
                     <button (click)="cancelbtn(slot.time)"
                        class="border border-red-900 hover:bg-red-900 text-red-900 hover:text-white rounded-full font-bold px-6 py-2">
                        Cancel
                     </button>
                  </ng-container>
                  <ng-template #bookedslots>
                     <div>
                        <button 
                           class="border border-red-900 hover:bg-red-900 text-red-900 hover:text-white rounded-full font-bold px-6 py-2">
                           Booked
                        </button>
                     </div>
                  </ng-template>

               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Default Slots -->

   <div class="h-52 overflow-y-scroll" *ngIf="createdDefaultSlots!==undefined && createdDefaultSlots.length > 0">
      <div>
         <div *ngFor="let slot of createdDefaultSlots">
            <div
               class="w-full  font-bold max-w-sm mx-auto rounded overflow-hidden px-4 py-3 shadow-lg bg-green-200 flex justify-between mb-2">
               <div class="flex justify-center items-center px-5">
                  <p style="margin: 0;">{{slot}}</p>
               </div>
               <div class="flex justify-center" *ngIf="from === 'editProfile'">
                  <ng-container>
                     <button (click)="removeDefault(slot)"
                        class="border border-red-900 hover:bg-red-900 text-red-900 hover:text-white rounded-full font-bold px-3 py-2 ">
                        Remove Default
                     </button>
                  </ng-container>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>