<div class="flex justify-between gap-2">
   <!-- Graph -->
   <div class="flex flex-col w-full">
      <div class="w-full h-[300px]">
         <ag-charts-angular [options]="optionsPie"></ag-charts-angular>
      </div>
      <div class="w-full h-[300px]">
         <ag-charts-angular [options]="options"></ag-charts-angular>
      </div>
      <div class="flex mt-3">
         <div class="bg-blue-100 w-1/2">
            <!-- <h1 class="text-center">Today's Sessions</h1> -->
         </div>
      </div>
   </div>
    <!-- Showing Amount and UserCount -->
<div class="flex flex-col gap-3">
   <div class="w-full font-poppins md:w-[380px]">
      <div class=" bg-white rounded">
         <div class="px-6 py-8 sm:p-10 ">
            <div class="flex items-center justify-between w-full grid-cols-1 text-left">
               <div class="flex items-center gap-2">
                  <span class="text-lg text-gray-600"><i class="fa-solid fa-wallet"></i></span>
                  <h2 style="margin: 0px;" class="text-lg font-medium tracking-tighter text-gray-600 lg:text-3xl">
                     Wallet Amount
                  </h2>
               </div>
               <div>
                  <p style="margin: 0px;">
                     <span class="text-3xl font-light tracking-tight text-black">
                        ₹{{walletAmount}}
                     </span>
                     <span class="text-base font-medium text-gray-500"> Rs </span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Total Mentors -->
   <div class="w-full font-poppins md:w-[380px]" *ngIf="totalMentors">
      <div class=" bg-white rounded">
         <div class="px-6 py-8 sm:p-10 sm:pb-6">
            <div class="flex items-center justify-between w-full grid-cols-1 text-left">
               <div>
                  <h2 class="text-lg font-medium tracking-tighter text-gray-600 lg:text-3xl">
                     Total Mentors
                  </h2>
               </div>
               <div>
                  <p>
                     <span class="text-3xl font-light tracking-tight text-black flex justify-center">
                        {{totalMentors}}
                     </span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Total Mentees -->
   <div class="w-full font-poppins md:w-[380px]" *ngIf="totalMentees">
      <div class=" bg-white rounded">
         <div class="px-6 py-8 sm:p-10 sm:pb-6">
            <div class="flex items-center justify-between w-full grid-cols-1 text-left">
               <div>
                  <h2 class="text-lg font-medium tracking-tighter text-gray-600 lg:text-3xl">
                     Total Mentees
                  </h2>
               </div>
               <div>
                  <p>
                     <span class="text-3xl font-light tracking-tight text-black flex justify-center">
                        {{totalMentees}}
                     </span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</div>
</div>