<div class="my-2 flex sm:flex-row flex-col">
   <div class="flex flex-row mb-1 sm:mb-0">
      <div class="relative">
         <select [(ngModel)]="selectedType" (change)="changedSelection()"
            class="h-full rounded-md  border-t border-l  border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
            <ng-container *ngIf="from === 'users'" >
               <option *ngFor="let option of userOptions" value="{{option.value}}">{{option.option}}</option>
            </ng-container>
            <ng-container *ngIf="from === 'bookings'" >
               <option *ngFor="let option of bookingOptions" value="{{option.value}}">{{option.option}}</option>
            </ng-container>
         </select>
         <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <span class="pr-2"><i class="fa-solid fa-caret-down"></i></span>
         </div>
      </div>
   </div>
</div>