<header class="sticky top-0 z-50 w-full">
  <div>
    <nav class="bg-white h-24 flex shadow-lg ">
      <div class="flex w-full justify-between items-center">
        <div class="bg-white h-auto ml-10 flex justify-between">
          <a routerLink="/home" class="flex items-center justify-center">
            <span class="text-3xl headerColor font-bold"><i class="fa-solid fa-code"></i></span>
            <span class="text-3xl md:text-4xl font-poppins headerColor pl-2"><b>M</b>entor<b>C</b>ode</span>
          </a>
        </div>
        <div class="pr-5 md:hidden">
          <span class="text-lg headerColor"><i class="fa-solid fa-bars"></i></span>
        </div>
        <div class=" hidden bg-white h-auto md:flex items-center justify-between ">
          <!-- Home Router Button -->
          <div [routerLink]="['']"
            class="px-6 py-2 text-blue-900 border border-solid border-blue-900 hover:bg-blue-900 duration-300 hover:text-white cursor-pointer rounded-full flex justify-between gap-2 mr-3">
            <div>
              <span>
                <i class="fa-solid fa-house"></i>
              </span>
            </div>
            <div class="font-bold">
              <p style="margin: 0px;">Home</p>
            </div>
          </div>
          <!-- Become a Mentor button -->
          <ng-container *ngIf="!isLogin;else profile">
            <div [routerLink]="['/mentor/login']" *ngIf="!currentUser || currentUser === 'mentor'"
              class="px-6 py-2 text-blue-900 border border-solid border-blue-900 hover:bg-blue-900 duration-300 hover:text-white cursor-pointer rounded-full flex justify-between gap-2 mr-3">
              <div>
                <span>
                  <i class="fa-solid fa-chalkboard-user"></i>
                </span>
              </div>
              <div class="font-bold">
                Become a Mentor
              </div>
            </div>

            <div class="pr-5">
              <button [routerLink]="['/mentee/login']" *ngIf="!currentUser || currentUser === 'mentee'"
                class="border border-blue-900 text-blue-900 hover:bg-blue-900 duration-300 hover:text-white rounded-full font-bold px-6 py-2">
                Sign In
              </button>
            </div>
          </ng-container>
          <ng-template #profile>
            <div (click)="gotoProfile()"
              class="m-1 hidden  mr-4 w-12 h-12 relative md:flex justify-center items-center rounded-full cursor-pointer text-2xl text-blue-900">
              <i class="fa-solid fa-user"></i>
            </div>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
</header>