<div>
<app-header></app-header>

  <div class="w-full flex flex-col md:flex-row bg-sky-100 justify-between items-center min-h-screen px-10">
    <div class="flex flex-col h-96">
      <h1><span class="font-poppins text-black text-6xl tracking-wide">Ask Directly to <br> the <span
            class="text-blue-900 font-bold ">Experts</span></span></h1>
      <div [routerLink]="['/mentee/list-mentors']" class="border mt-4 font-poppins text-blue-900 border-blue-900 hover:bg-blue-900 hover:text-white rounded-full font-bold px-6 py-2 flex justify-center gap-2 cursor-pointer">
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div>
          Find A Mentor
        </div>
      </div>
    </div>
  
    <div class="w-1/2">
      <img class="h-1/2 opacity-80 object-cover" src="assets/imgs/background/Home page.png">
    </div>
  </div>
  <!-- Showing the testimonials  -->
  
  <section class="font-poppins">
    <div class="h-screen w-full pt-16">
      <div class="flex justify-center">
        <h1><span class="text-2xl">OUR TESTIMONIALS</span></h1>
      </div>
      <div class="flex justify-center">
        <h1><span class="text-4xl">WINS FROM ALL AROUND THE GLOBE</span></h1>
      </div>
      <div class="flex flex-wrap justify-center mt-10 font-sans">
  
        <!-- card 1 -->
        <div class="p-2 max-w-sm ">
          <div class="flex rounded-lg h-full dark:bg-gray-700 hover:dark:bg-gray-800  bg-teal-400 p-8 py-16 flex-col">
            <div class="flex items-center mb-3">
              <div
                class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                <img src="assets/imgs/logo/Logo.png" alt="">
              </div>
              <div>
                <h2 style="margin: 0;" class="text-white dark:text-white text-lg font-medium m-0">Alexander</h2>
                <small class="text-gray-500 dark:text-gray-300">23 Aug 2023</small>
              </div>
            </div>
            <div class="flex flex-col justify-between flex-grow">
              <p class="leading-relaxed text-base text-white dark:text-gray-300">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy.  ducimus ad quam, neque, ratione cum!
                Gastropub indxgo juice poutine.
              </p>
            </div>
          </div>
        </div>
  
        <!-- card 2 -->
        <div class="p-2 max-w-sm">
          <div class="flex rounded-lg h-full dark:bg-gray-700 hover:dark:bg-gray-800  bg-teal-400 p-8 py-16 flex-col">
            <div class="flex items-center mb-3">
              <div
                class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                <img src="assets/imgs/logo/Logo.png" alt="">
              </div>
              <div>
                <h2 style="margin: 0;" class="text-white dark:text-white text-lg font-medium m-0">Nizamudheen</h2>
                <small class="text-gray-500 dark:text-gray-300">07 Sep 2023</small>
              </div>
            </div>
            <div class="flex flex-col justify-between flex-grow">
              <p class="leading-relaxed text-base text-white dark:text-gray-300">
                Blue bottle crucifix vinyl post-ironic four dollar fugiat ea, laudantium velit eaque sint voluptas
                iure dolor autem quod. Veniam rerum quod labore corrupti.
              </p>
            </div>
          </div>
        </div>
  
        <!-- card 3 -->
        <div class="p-2 max-w-sm">
          <div class="flex rounded-lg h-full dark:bg-gray-700 hover:dark:bg-gray-800  bg-teal-400 p-8 py-16 flex-col">
            <div class="flex items-center mb-3">
              <div
                class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                <img src="assets/imgs/logo/Logo.png" alt="">
              </div>
              <div>
                <h2 style="margin: 0;" class="text-white dark:text-white text-lg font-medium m-0">Hafis</h2>
                <small class="text-gray-500 dark:text-gray-300">10 Nov 2023</small>
              </div>
            </div>
            <div class="flex flex-col justify-between flex-grow">
              <p class="leading-relaxed text-base text-white dark:text-gray-300">
                Blue bottle crucifix vinyl post-ironic four dollar make it as easy and effortless toast vegan taxidermy.
                Gastropub indxgo juice poutine.
              </p>
            </div>
          </div>
        </div>
  
  
      </div>
  
    </div>
  </section>
<app-footer></app-footer>
</div>
