<div *ngIf="slotTimes">
   <div>
      <h3><span class="font-poppins pl-20">Available Slots</span></h3>
   </div>
   <div *ngFor="let slot of slotTimes">
      <div *ngIf="!slot.is_booked"
         class="w-full  max-w-sm mx-auto rounded overflow-hidden px-1 py-3 shadow-lg bg-green-200 flex gap-3 mb-2">
         <div class="flex justify-center items-center px-5">
            <p style="margin: 0;">{{slot.time}}</p>
         </div>
         <div class="flex justify-end">
            <button 
               class="border border-blue-900 hover:bg-blue-900 text-blue-900 hover:text-white rounded-full font-bold px-6 py-2">
               Book
            </button>
         </div>
      </div>
   </div>
</div>