<div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
   <div *ngFor="let mentor of mentorDetails" class="bg-white rounded-3xl shadow-lg p-8">
      <div class=" flex justify-between">
         <ng-container *ngIf="mentor.image;else defaultImg">
            <img class="object-cover w-30 h-32" [src]="mentor?.image" alt="{{ mentor.name }} Profile">
         </ng-container>
         <ng-template #defaultImg>
            <img class="object-cover w-32 h-32" src="assets/imgs/background/default-profile.jpeg" alt="Profile">
         </ng-template>
         <div class="inset-0 flex items-center">
            <button [routerLink]="['/mentee/view-mentor/',mentor._id]"    
               class="border mt-4 font-poppins text-blue-900 border-blue-900 hover:bg-blue-900 hover:text-white rounded-full font-bold px-6 py-2">View
               Profile</button>
         </div>
      </div>

      <div class="pt-3">
         <h3><span class="text-xl font-bold text-gray-900">{{mentor.name}}</span></h3>
      </div>
      <p class="text-gray-500 text-sm mt-2"><span class="font-bold">Experience :</span> {{mentor.experience}}yr</p>
      <p class="text-gray-500 text-sm mt-2">
         <span class="font-bold">Skills :</span>
         <ng-container *ngFor="let skill of mentor.skills; let last = last">
           <span class="font-bold">{{ skill }}</span>{{ !last ? ', ' : '' }}
         </ng-container>
       </p>
       
      <div class="flex items-center justify-between mt-4">
         <span class="text-gray-900 font-bold text-lg">₹{{mentor.fee}} / 1hr</span>
         
      </div>
   </div>
</div>